---
import "../css/main.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import PageHeading from "../components/PageHeading.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout pageTitle={frontmatter.title}>
  <PageHeading imageLight="/images/odds&ends/odds-ends-heading-light.svg" imageDark="/images/odds&ends/odds-ends-heading-dark.svg" />
  <section class="container">
    <Navigation eyeColor="var(--color-accent-3)" addMarginEnd="--margin-end: var(--space-2xl);"/>
    <article class="stack">
      <h1>{frontmatter.title}</h1>
      <p>Published on {frontmatter.pubDate.toString().slice(0,10)}</p>
      <p><em>{frontmatter.description}</em></p>
      <p>Written by {frontmatter.author}</p>
      <figure class="center" >
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <figcaption class="small-text">
          {frontmatter.image.caption}
        </figcaption>
      </figure>
      <slot />
    </article>
  </section>
</Layout>
